.title {
  margin-bottom: 20px;
  padding: 20px;
}
.img {
  height: 260px;
  width: 100%;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position:static;
  z-index: 1; }